<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
        <% service.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class = "row">

    <div class="form-group col-2">
      <%= form.label :status %>
      <%= form.text_field :status, class: ["form-control", "form-control-user"] %>
    </div>

    <div class="form-group col-2">
      <%= form.label :price %>
      <%= form.text_field :price, class: ["form-control", "form-control-user"] %>
    </div>

    <div class="form-group col-2">
      <%= form.label "Date" %>
      <%= form.datetime_local_field :data, class: ["form-control", "form-control-user"] %>
    </div>
  
    <%= form.fields_for :address do |address_fields| %>
      <div class="form-group col-6">
        <%= address_fields.label :street %>
        <%= address_fields.text_field :street, class: ["form-control", "form-control-user"] %>
      </div>

      <div class="form-group col-3">
        <%= address_fields.label :neighborhood %>
        <%= address_fields.text_field :neighborhood, class: ["form-control", "form-control-user"] %>
      </div>

      <div class="form-group col-3">
        <%= address_fields.label :zipcode %>
        <%= address_fields.text_field :zipcode, class: ["form-control", "form-control-user"] %>
      </div>

      <div class="form-group col-3">
        <%= address_fields.label :number %>
        <%= address_fields.text_field :number, class: ["form-control", "form-control-user"] %>
      </div>

      <div class="form-group col-3">
        <%= address_fields.label :city %>
        <%= address_fields.text_field :city, class: ["form-control", "form-control-user"] %>
      </div>
    <%end%>
  </div>  

  <div class="row">  
    <div class="form-group col-4">
      <%= form.label :client_id %>
      <%= form.collection_select(:client_id, @client_clients_for_select, :id, :name,{:selected => @service.client_id},{class: ["custom-select", "custom-select-sm", "form-control", "form-control-sm"]})%>
    </div>
  
  
    <div class="form-group col-4">
      <%= form.label :driver_id %>
      <%= form.collection_select(:driver_id, @driver_drivers_for_select, :id, :name, {:selected => @service.driver_id},{class: ["custom-select", "custom-select-sm", "form-control", "form-control-sm"]})%>
    </div>

    <div class="form-group">
      <%= form.label :vehicle_id %>
      <%= form.collection_select(:vehicle_id, @vehicle_vehicles_for_select, :id, :board, {:selected => @service.vehicle_id},{class: ["custom-select", "custom-select-sm", "form-control", "form-control-sm"]})%>
    </div>
  </div>

  <div class="actions form-group ml-3 float-right">
    <%= form.submit "Save", class: ["btn", "btn-primary", "btn-user", "btn-block"] %>
  </div>


<% end %>
