<p id="notice"><%= notice %></p>

<h1>Services</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Price</th>
      <th>Data</th>
      <th>Driver</th>
      <th>Client</th>
      <th>Vehicle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

   <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.status %></td>
        <td><%= service.price %></td>
        <td><%= service.data %></td>
        <td><%= service.driver.name %></td>
        <td><%= service.client.name %></td>
        <td><%= service.vehicle.board%></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_service_path %>
