<div id="wrapper">
  <%= render partial: 'dashbord/dashbord' %>

  <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
    <div id="content">
        <%= render partial: 'dashbord/topbar' %>

        <div class="container-fluid">
            <div class = "row">
                <h1 class="h3 mb-0 text-gray-800 ml-3">Show Client</h1>
            </div>

            <div class="card shadow mb-4 mt-4">
                <div class="card-body"><p id="notice"><%= notice %></p>
                  <p>
                    <strong>Status:</strong>
                    <%= @service.status %>
                  </p>

                  <p>
                    <strong>Price:</strong>
                    <%= @service.price %>
                  </p>

                  <p>
                    <strong>Data:</strong>
                    <%= @service.data %>
                  </p>

                  <p>
                    <strong>Address:</strong>
                    <%= @service.address.street + " - " + @service.address.number + " - " + @service.address.neighborhood + " - " + @service.address.city %>
                  </p>

                  <p>
                    <strong>Driver:</strong>
                    <%= @service.driver.name %>
                  </p>

                  <p>
                    <strong>Client:</strong>
                    <%= @service.client.name %>
                  </p>

                  <p>
                    <strong>Vehicle:</strong>
                    <%= @service.vehicle.board %>
                  </p>

                  <%= link_to edit_service_path(@service), class: ["btn", "btn-secondary", "btn-icon-split", "float-right", "ml-3"] do  %>
                      <span class="text">Edit</span>
                  <% end %>

                  <%= link_to services_path, class: ["btn", "btn-light", "btn-icon-split", "float-right", "ml-3"] do  %>
                      <span class="text">Back</span>
                  <% end %>
                </div>
             </div>
        </div>
        <br>
      <div>
    <%= render partial: 'dashbord/footer' %>
  <div>
  <%= render partial: 'dashbord/logout' %>
</div>
