<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @service.status %>
</p>

<p>
  <strong>Price:</strong>
  <%= @service.price %>
</p>

<p>
  <strong>Data:</strong>
  <%= @service.data %>
</p>

<p>
  <strong>Address:</strong>
  <%= @service.address_id %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @service.driver_id %>
</p>

<p>
  <strong>Client:</strong>
  <%= @service.client_id %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @service.vehicle_id %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
