<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
        <% client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">    
  
    <div class="form-group col-6">
      <%= form.label :name %>
      <%= form.text_field :name, class: ["form-control", "form-control-user"] %>
    </div>

    <div class="form-group col-3">
      <%= form.label "CPF/CNPJ" %>
      <%= form.text_field :cpf_cnpj, class: ["form-control", "form-control-user"] %>
    </div>

    <%= form.fields_for :phone do |phone_field| %>
      <div class="form-group col-3">
        <%= phone_field.label :phone_number %>
        <%= phone_field.text_field :phone_number, class: ["form-control", "form-control-user"] %>
      </div>
    <%end%>

    <div class="form-group col-4">
      <%= form.label :email %>
      <%= form.text_field :email, class: ["form-control", "form-control-user"] %>
    </div>  

  <%= form.fields_for :address do |address_fields| %>

    <div class="form-group col-6">
      <%= address_fields.label :street %>
      <%= address_fields.text_field :street, class: ["form-control", "form-control-user"] %>
    </div>    
    
    <div class="form-group col-2">
      <%= address_fields.label :number %>
      <%= address_fields.text_field :number, class: ["form-control", "form-control-user"] %>
    </div>

    <div class="form-group col-4">
      <%= address_fields.label :neighborhood %>
      <%= address_fields.text_field :neighborhood, class: ["form-control", "form-control-user"] %>
    </div>

    <div class="form-group col-4">
      <%= address_fields.label :zipcode %>
      <%= address_fields.text_field :zipcode, class: ["form-control", "form-control-user"] %>
    </div>

    <div class="form-group col-4">
      <%= address_fields.label :city %>
      <%= address_fields.text_field :city, class: ["form-control", "form-control-user"] %>
    </div>
  </div>

  <%end%>
  <div class="actions form-group ml-3 float-right">
    <%= form.submit "Save", class: ["btn", "btn-primary", "btn-user", "btn-block"] %>
  </div>
<% end %>
