<div id="wrapper">
  <%= render partial: 'dashbord/dashbord' %>

  <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
    <div id="content">
        <%= render partial: 'dashbord/topbar' %>

        <div class="container-fluid">
            <div class = "row">
                <h1 class="h3 mb-0 text-gray-800 ml-3">Dashbord</h1>
            </div>

            <div class="card shadow mb-4 mt-4">
                <div class="card-body">
                    <div class="row">
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Clients</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @numClients %></div>
                                </div>
                                <div class="col-auto">
                                <i class="fas fa-user fa-2x text-gray-300"></i>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Drivers</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @numDrivers %></div>
                                </div>
                                <div class="col-auto">
                                <i class="fas fa-road fa-2x text-gray-300"></i>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Services</div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= @numServices %></div>
                                    </div>
                                </div>
                                </div>
                                <div class="col-auto">
                                <i class="fas fa-suitcase fa-2x text-gray-300"></i>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Vehicles</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @numVehicles %></div>
                                </div>
                                <div class="col-auto">
                                <i class="fas fa-car fa-2x text-gray-300"></i>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                </div>
                </div>
             </div>
        </div>
        <br>
      <div>
    <%= render partial: 'dashbord/footer' %>
  <div>
  <%= render partial: 'dashbord/logout' %>
</div>
