<p id="notice"><%= notice %></p>

<h1>Adresses</h1>

<table>
  <thead>
    <tr>
      <th>Street</th>
      <th>Neighborhood</th>
      <th>Zipcode</th>
      <th>Number</th>
      <th>City</th>
      <th>Client</th>
      <th>Driver</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adresses.each do |adress| %>
      <tr>
        <td><%= adress.street %></td>
        <td><%= adress.neighborhood %></td>
        <td><%= adress.zipcode %></td>
        <td><%= adress.number %></td>
        <td><%= adress.city %></td>
        <td><%= adress.client_id %></td>
        <td><%= adress.driver_id %></td>
        <td><%= link_to 'Show', adress %></td>
        <td><%= link_to 'Edit', edit_adress_path(adress) %></td>
        <td><%= link_to 'Destroy', adress, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adress', new_adress_path %>
