<%= form_with(model: driver, local: true) do |form| %>
  <% if driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
        <% driver.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="form-group col-4">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["form-control", "form-control-user"] %>
  </div>

  <div class="form-group col-4">
    <%= form.label :cpf %>
    <%= form.text_field :cpf, class: ["form-control", "form-control-user"] %>
  </div>

  <div class="form-group col-4">
    <%= form.label :cnh %>
    <%= form.text_field :cnh, class: ["form-control", "form-control-user"] %>
  </div>

</div>

  <div class="actions form-group ml-3 float-right">
    <%= form.submit "Save", class: ["btn", "btn-primary", "btn-user", "btn-block"] %>
  </div>



<% end %>
