<div id="wrapper">
  <%= render partial: 'dashbord/dashbord' %>

  <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
    <div id="content">
        <%= render partial: 'dashbord/topbar' %>

        <div class="container-fluid">
        <div class = "row">
          <h1 class="h3 mb-0 text-gray-800 ml-3">Drivers</h1>
          <%= link_to new_driver_path, class: ["btn", "btn-primary", "btn-icon-split", "ml-3"] do  %>
            <span class="text">New Driver</span>
          <% end %>
        </div>

          <div class="card shadow mb-4 mt-4">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>CPF</th>
                      <th>CNH</th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>CPF</th>
                      <th>CNH</th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </tfoot>
                  <tbody>
                  <% @drivers.each do |driver| %>
                    <tr>
                      <td><%= driver.name %></td>
                      <td><%= driver.cpf %></td>
                      <td><%= driver.cnh %></td>
                      <td><%= link_to driver, class: ["btn", "btn-info", "btn-icon-split"] do  %>
                        <span class = "icon text-white-30"><i class="fas fa-info-circle"></i></span><span class="text">Show</span>
                        <% end %>
                      </td>
                      <td><%= link_to edit_driver_path(driver), class: ["btn", "btn-secondary", "btn-icon-split"] do  %>
                        <span class = "icon text-white-30"><i class="fas fa-arrow-right"></i></span><span class="text">Edit</span>
                        <% end %>
                      </td>
                      <td><%= link_to driver, method: :delete, data: { confirm: 'Are you sure?' } , class: ["btn", "btn-danger", "btn-icon-split"] do  %>
                        <span class = "icon text-white-30"><i class="fas fa-trash"></i></span>
                        <span class="text">Destroy</span>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <br>

      <div>

    <%= render partial: 'dashbord/footer' %>

  <div>
  <%= render partial: 'dashbord/logout' %>

</div>