<%= form_with(model: vehicle, local: true) do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
        <% vehicle.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

     <div class="form-group col-4">
      <%= form.label :category %>
      <%= form.select :category, ['Truck', 'Articulated crane','Hydraulic crane', 'Flatbed trailer', 'Normal trailer'],{}, {class: ["custom-select", "custom-select-sm", "form-control", "form-control-sm"]}%>
    </div>

    <div class="form-group col-4">
      <%= form.label :board %>
      <%= form.text_field :board, class: ["form-control", "form-control-user"] %>
    </div>

     <div class="form-group col-4">
      <%= form.label :status %>
      <%= form.select :status, ['Available', 'Unavailable'],{}, {class: ["custom-select", "custom-select-sm", "form-control", "form-control-sm"]}%>
    </div>
  </div>

  <div class="actions form-group ml-3 float-right">
    <%= form.submit "Save", class: ["btn", "btn-primary", "btn-user", "btn-block"] %>
  </div>
  
<% end %>
