<div id="wrapper">
  <%= render partial: 'dashbord/dashbord' %>

  <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
    <div id="content">
        <%= render partial: 'dashbord/topbar' %>

        <div class="container-fluid">
            <div class = "row">
                <h1 class="h3 mb-0 text-gray-800 ml-3">New Vehicle</h1>
            </div>

            <div class="card shadow mb-4 mt-4">
                <div class="card-body">
                    <%= render 'form', vehicle: @vehicle %>
                    <%= link_to vehicles_path, class: ["btn", "btn-light", "btn-icon-split", "float-right"] do  %>
                        <span class="text">Back</span>
                    <% end %>
                </div>
             </div>
        </div>
        <br>
      <div>
    <%= render partial: 'dashbord/footer' %>
  <div>
  <%= render partial: 'dashbord/logout' %>

</div>
