<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @vehicle.category %>
</p>

<p>
  <strong>Board:</strong>
  <%= @vehicle.board %>
</p>

<p>
  <strong>Status:</strong>
  <%= @vehicle.status %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
